@import "../../../colors";

.photography {
    position: relative;
    width: 100vw;
    min-height: $pageHeight;
    &__container {
        padding: 1em 0;
    }
    &__title {
        color: black;
        font-size: 4.5em;
        text-align: center;
        // text-shadow: 0.6px 0.6px 2px $dark;
        padding: 1em 0 1em 0;
        max-width: 100vw;
    }
    &__card {
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        &__image {
            list-style-type: none;
            flex-grow: 1;
            overflow: hidden;
            margin: 0 1px 1px 1px ;

            &:hover img {
                transform: scale(1.025);

            }
            @media (min-width: 640px) {
                &:hover img {
                    filter:opacity(70%);
                }
            }
            &__img {
                height: auto;
                max-height: 80vh;
                width: 100vw;
                display: block;
                object-fit: cover;
                transition: ease-in-out .3s;
                @media (min-width: 640px) {
                    height: 60vh;
                    width: auto;
                }

                @media (min-width: 840px) {
                    height: 40vh;
                    width: auto;
                }
            }
        }
        @media screen and (max-width: 500px) {
            &__image {
                flex: 25%;
            }
        }
    }
}
